{% extends 'layout.html' %}
{% block content %}
<table class="table table-responsive" style="background: antiquewhite;">
    <thead>
        <th>
            Dish Name
        </th>
        <th>
            Edit
        </th>
        <th>
            Delete
        </th>
        <tbody>
            {% for item in dishes %}
            <tr>
                <td>{{ item.name }}</td>
                <td>
                    <a href="{% url 'website:edit_dish' id=item.id %}">Edit</a>
                </td>
                <td>
                    <a href="{% url 'website:delete_dish' id=item.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
<!--
<ul>
    {% for item in menu_items %}
    <li>
        {{ item.name }} - {{ item.image }} - {{ item.rate }}
    </li>
    {% endfor %}
</ul>
-->
{% endblock %}