{% extends 'layout.html' %}
{% block content %}
<div style="background:#5a2323; border-radius:5px;">
    <h3><i>{{ status }}</i></h3>
    <form class="form"action=""  method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="panel">
        <div class="row col-md-10 form-group">
        </div>
        <div class="row col-md-10 form-group">
            <label class="col-md-3"> Name: </label>
            <div class="col-md-7">
                <input type="text" value="{{ dish.name }}" class="form-control" name="name"/>
            </div>
        </div>
        <div class="row col-md-10 form-group">
            <label class="col-md-3"> Rate: </label>
            <div class="col-md-7">
                <input type="text" class="form-control" value="{{ dish.rate }}" name="rate"/>
            </div>
        </div>
        <div class="row col-md-10 form-group">
            <label class="col-md-3"> Category: </label>
            <div class="col-md-7">
                <input type="text" class="form-control" value="{{ dish.category }}" name="category"/>
            </div>
        </div>
        <div class="row col-md-10 form-group">
            <label class="col-md-3"> Available From: </label>
            <div class="col-md-7">
                <input type="date" class="form-control" value="{{ dish.available_from }}" name="available_from"/>
            </div>
        </div>
        <div class="row col-md-10 form-group">
            <label class="col-md-3"> Veg: </label>
            <div class="col-md-7">
                <input type="checkbox" value="yes" {% if dish.isVeg %} checked {% endif %} class="form-control" name="is_veg"/>
            </div>
        </div>
        <div class="row col-md-10 form-group">
            <label class="col-md-3"> Is Available?: </label>
            <div class="col-md-7">
                <input type="checkbox" value="yes" {% if dish.is_available %} checked {% endif %} class="form-control" name="is_available"/>
            </div>
        </div>
        <div class="row col-md-10 form-group">
            <label class="col-md-3"> Image File: </label>
            <div class="col-md-7">
                <input type="file" class="form-control-file" name="file"/>
            </div>
        </div>
        <div class="row col-md-10 form-group">
            <div class="col-md-3">
            </div>
            <div class="col-md-7">
                <button class="btn btn-primary" type="submit">SAVE</button>
            </div>
        </div>
    </div>
</form>
</div>
{% endblock %}